<h1>Create a new Drink Item </h1>

<%= form_for @drink_item, :url => drinks_path, :method => :post do |f| %>
  <%= f.label :category %><br/>
  <%= f.text_field :category %><br />
  <%= f.label :name %><br/>
  <%= f.text_field :name %><br />
  <%= f.label :price %><br/>
  <%= f.text_field :price %><br />
  <%= f.submit %>
<% end %>