<h1> Ty Coffee App Management System</h1>

<h2> Options </h2>
<li><%= link_to "Food Menu", foods_path %></li>
<li><%= link_to "Drink Menu", drinks_path %></li>
<li><%= link_to "Event Menu", events_path %></li>
<li><%= link_to "Opening Times Menu", hours_path %></li>

<hr>

<h2> Friday Prize Settings </h2>
<li>
  Prize Status : <b><span class="label <%= get_label(@prize_status)%>"><%= @prize_status %></span></b>
  <%= link_to "Toggle", toggle_prize_status_path %>
</li>
<br>
<li>
  <%= form_tag('/update_prize') do %>
    Prize: <%= text_field_tag :prize_name,  @prize, :placeholder => "Enter a prize" %>
    <%= submit_tag "Submit" %>
  <% end %>
</li>

